# Build Folders
src/bin/
src/obj/
src/out/

# VS Code Directories
.vscode/

# Logs
*.log

# Package directories
src/**/node_modules/
src/**/bower_components/

# Visual Studio directories
.vs/

# Others
.idea/*
.env
